<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="bd52cc37-f15c-426a-bc57-804853e459a5" name="Default TestSuite" disabled="true" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="bd52cc37-f15c-426a-bc57-804853e459a5fileName">Default-TestSuite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
